$primary-background: #22252c;
$secondary-forefround: #34fea7;
$primary-foreground: rgba(255, 255, 255, 1);
$tircary-foreground: rgba(255, 255, 255, 0.4);
$secondary-foreground: rgba(255, 255, 255, 0.8);
