@import "./../../../../styles/color.scss";

.hero-section {
  .container {
    .row {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      .intro {
        .salutations {
          color: $secondary-forefround;
          opacity: 0.7;
          font-size: 1.2em;
          margin-bottom: 10px;
        }
        .name {
          font-size: 3.2em;
          font-weight: 600;
          margin-bottom: 24px;
        }
        .tag-line {
          font-size: 2em;
          font-weight: 600;
          color: $tircary-foreground;
        }
        .description {
          margin-top: 20px;
          font-size: 1em;
          font-weight: 400;
          color: $secondary-foreground;
          letter-spacing: 1.2px;
        }
        .read-more-container {
          margin-top: 50px;

          .read-more {
            position: relative;
            background-color: inherit;
            border: 1px solid;
            border-color: $secondary-forefround;
            color: white;
            padding: 10px 50px;
            font-weight: 600;
            text-transform: uppercase;

            &:after {
              margin-left: 5px;
              content: "👇";
              font-size: 1.4em;
              animation: MoveUpDown 1.5s linear infinite;
              position: absolute;
            }
            @keyframes MoveUpDown {
              0%,
              100% {
                top: 5px;
              }
              50% {
                top: 15px;
              }
            }
          }
        }
      }
    }
  }
}
